<div class="container-fluid">
  <div class="col-8 m-auto">
    <div class=" text-end mb-2">
      <button mat-raised-button color="primary" *ngIf="(profileEditable|async) ==true"
        (click)="cancelEdit()">Cancel</button>
      <button mat-raised-button color="primary" *ngIf="(profileEditable|async) ==true"
        (click)="saveAthlete()">Save</button>
      <button mat-raised-button color="primary" *ngIf="(profileEditable|async) ==false"
        (click)="setContentEditable()">Edit</button>
    </div>
    <div>
      <mat-card class="m-auto">
        <h2>Profile information</h2>
        <div class="row">
          <div class="col-4">
            <img src="https://img.icons8.com/cotton/2x/gender-neutral-user--v2.png" class="profilePicture">
          </div>
          <div class="col-8">
            <form [formGroup]="activeForm">
              <div class="row mb-4 align-items-center">
                <div class="col-6">
                  Name:
                </div>
                <div class="col-6">
                  <input-editable-field [editEnabled]="profileEditable|async" formControlName="name">
                  </input-editable-field>
                </div>
              </div>
              <div class="row mb-4 align-items-center">
                <div class="col-6">
                  Date of birth:
                </div>
                <div class="col-6">
                  <date-picker-editable [editEnabled]="profileEditable|async" formControlName="dateOfBirth">
                  </date-picker-editable>
                </div>
              </div>
              <div class="row mb-4 align-items-center">
                <div class="col-6">
                  Age:
                </div>
                <div class="col-6">
                  {{activeForm.value.dateOfBirth|age}}
                </div>
              </div>
              <div class="row mb-4 align-items-center">
                <div class="col-6">
                  Nation:
                </div>
                <div class="col-6">
                  <input-editable-field [editEnabled]="profileEditable|async" formControlName="nation">
                  </input-editable-field>
                </div>
              </div>
              <div class="row mb-4 align-items-center">
                <div class="col-6">
                  Gender:
                </div>
                <div class="col-6">
                  <dropdown-edit-field [editEnabled]="profileEditable|async" formControlName="gender"
                    [dropDownValues]="availableGenderList">
                  </dropdown-edit-field>
                </div>
              </div>
              <div class="row mb-4 align-items-center">
                <div class="col-6">
                  Height:
                </div>
                <div class="col-6">
                  <input-editable-field [editEnabled]="profileEditable|async" formControlName="height"
                    [inputType]="'number'">
                  </input-editable-field>
                </div>
              </div>
              <div class="row mb-4 align-items-center">
                <div class="col-6">
                  Weight:
                </div>
                <div class="col-6">
                  <input-editable-field [editEnabled]="profileEditable|async" formControlName="weight"
                    [inputType]="'number'">
                  </input-editable-field>
                </div>
              </div>
              <div class="row mb-4 align-items-center">
                <div class="col-6">
                  Sport:
                </div>
                <div class="col-6">
                  <dropdown-edit-field [editEnabled]="profileEditable|async" formControlName="sport"
                    [dropDownValues]="availableSportList">
                  </dropdown-edit-field>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
