<p-table [value]="athleteGroupList" dataKey="athlete.name" [scrollable]="true" scrollHeight="500px">
  <ng-template pTemplate="header">
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Date of birth</th>
      <th class="text-center">Age</th>
      <th class="text-center">Weight</th>
      <th class="text-center">Height</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-athletNation let-rowIndex="rowIndex" let-expanded="expanded">
    <tr [pRowToggler]="athletNation" class="hoverAction">
      <td colspan="5">
        <div class="d-flex align-items-center">
          <button mat-icon-button *ngIf="!expanded">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
          <button mat-icon-button *ngIf="expanded">
            <mat-icon>expand_more</mat-icon>
          </button>
          <img [src]="'https://www.countryflags.io/'+athletNation.nationality+'/flat/64.png'" class="smallFlag">
          <span class="p-text-bold">{{getAthleteNationName(athletNation.nationality)}}</span>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-nation>
    <tr *ngFor="let athlete of nation.athletes">
      <td class="text-center">
        <a [href]="'athlete/'+athlete.id">{{athlete.name}}</a>
      </td>
      <td class="text-center">
        {{athlete.dateOfBirth|date:'YYYY.MM.dd'}}
      </td>
      <td class="text-center">
        {{athlete.dateOfBirth|age}}
      </td>
      <td class="text-center">
        {{athlete.weight}} kg
      </td>
      <td class="text-center">
        {{athlete.height}} cm
      </td>
    </tr>
  </ng-template>
</p-table>
