<p-table [value]="athleteGroupList" dataKey="athlete.name">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Age</th>
      <th>Weight</th>
      <th>Height</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-athletNation let-rowIndex="rowIndex" let-expanded="expanded">
    <tr>
      <td colspan="5">
        <div class="d-flex align-items-center">
          <button type="button" pButton pRipple [pRowToggler]="athletNation"
            class="p-button-text p-button-rounded p-button-plain p-mr-2"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          <img [src]="'https://www.countryflags.io/'+athletNation.nationality+'/flat/64.png'" class="smallFlag">
          <span class="p-text-bold">{{athletNation.nationality}}</span>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-nation>
    <tr *ngFor="let athlete of nation.athletes">
      <td class="text-center">
        {{athlete.name}}
      </td>
      <td class="text-center">
        {{athlete.dateOfBirth|date:'YYYY.MM.dd'}}
      </td>
      <td class="text-center">
        {{athlete.dateOfBirth|age}}
      </td>
      <td class="text-center">
        {{athlete.weight}} kg
      </td>
      <td class="text-center">
        {{athlete.height}} cm
      </td>
    </tr>
  </ng-template>
</p-table>
